:root {
    --scoreboardColor: #ffd7aa;
    scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(
    337deg,
    rgba(126, 13, 223, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 190, 0, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.game {
  width: fit-content;
  margin-inline: auto;
  margin-block-start: 3vh;
}

.user-interface {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 20px;
  color: white;
}

button,
select {
  background-color: #242633;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: 0;
  font-size: 18pt;
  cursor: pointer;
}

button:hover {
  color: rgb(253, 169, 72);
}

.grid-size {
  padding-inline-end: 20px;
  border-right: 2px solid #242633;
}

select {
  padding: 5px 10px;
  font-size: 15pt;
}

select:disabled {
  color: grey;
  background-color: #494949;
  cursor: default;
}

.board {
  padding: 15px;
  display: none;
  grid-gap: 15px;
  background: linear-gradient(
    162deg,
    rgba(126, 13, 223, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 190, 0, 1) 100%
  );
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.hidden,
.show {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.hidden {
  border-radius: 5px;
  background-color: #242633;
  cursor: pointer;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 5vh;
  border-radius: 5px;
  background-color: white;
  transform: rotateY(180deg);
}

.rotate {
  transform: rotateY(180deg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 27, 27);
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #8888;
  width: 80%;
  height: 80vh;
  border-radius: 5px;
}

.modal-title {
  color: var(--scoreboardColor);
  text-align: center;
  margin-block-start: 0;
}

.modal-scores {
  flex-grow: 1;
  background-color: rgb(44, 44, 44);
  overflow: auto;
  border: 1px solid var(--scoreboardColor);
  border-radius: 5px;
}

.player-score {
    color: var(--scoreboardColor);
    text-align: center;
    font-size: 18pt;
    margin-block-start: 40px;
}

.modal-interface > label {
    color: var(--scoreboardColor);
    font-size: larger;
}

.modal-interface > input {
    height: 30px;
    border-radius: 5px;
}

.modal-interface > button {
    font-size: 12pt;
}

.modal-interface {
  margin-block-start: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}
